body {
    margin: 0;
    font-family: sans-serif;
    padding: 3vw;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13vw;
    opacity: 0.1;
}
